* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.search {
  padding: 100px;
  width: 100vw;
  text-align: center;
}
.search input {
  background-color: aquamarine;
  border: none;
  border-radius: 10px;
  width: 400px;
  height: 30px;
  margin: 0px 30px;
}

.container {
  display: flex;
  width: 100vw;

  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 100px;
}

.images {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
